<div class="row">
    <h2>Thumbnail Gallery</h2>
    <div class="col-lg-12" data-bind="foreach: images">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center previewContainer">
            <a class="thumbnail" href="#" data-toggle="modal" data-bind="click: function(data) { $root.updateImage(data); }, attr: { 'data-image-id': id, 'data-title': title, 'data-caption': title, 'data-image': source }" data-target="#image-gallery">
                <img class="img-responsive" data-bind="attr: { src: thumbnail, 'alt': title }">
            </a>
            <span class="btn btn-warning" href="#" data-bind="click: function(data) { $root.deleteImage(data); }">Delete</span>
        </div>
        <!-- ko if: ($index % 3 === 0) -->
        <div data-bind="template: { name: 'gallery-break', afterRender: function(elements) { $root.galleryBreak(elements); } }"></div>
        <!-- /ko -->
    </div>
    <!-- ko if: (images().length === 0) -->
    <p>No images available</p>
    <!-- /ko -->
</div>
<br />
<div class="row">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#image-upload">Upload</button>
        <button type="button" class="btn btn-primary" data-bind="click: function() { $root.getImages(0); }">Refresh</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <ul class="pagination">
            <li data-bind="css: { 'disabled': $root.currentPage() == 1 }"><a href="#" data-bind="click: function() { $root.gotoPrevious(); }" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <!-- ko foreach: pages -->
            <li data-bind="css: { 'active': $root.currentPage() == $data }"><a href="#" data-bind="text: $data, click: function() { $root.gotoPage($data); }">1</a></li>
            <!-- /ko -->
            <li data-bind="css: { 'disabled': $root.currentPage() == $root.imageCount() }"><a href="#" data-bind="click: function() { $root.gotoNext(); }" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </div>
</div>
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="modal-gallery" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <a href="#" id="image-gallery-link" target="new"><img id="image-gallery-image" class="img-responsive" src="" alt=""></a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="image-upload" tabindex="-1" role="dialog" aria-labelledby="modal-upload" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Upload images</h4>
            </div>
            <div class="modal-body">
                <input id="fileupload" type="file" data-bind="files: { onLoaded: function(file, data) { fileLoaded(file, data); }, fileFilter: 'image.*' }" />

                <div id="image-container"></div>
            </div>
        </div>
    </div>
</div>

<div class="loader" data-bind="css:{ 'visible': loading }"></div>